<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> -->

    <title>Update User Information</title>
    <link rel="stylesheet" type="text/css" href="../static/registration_style.css">
        
</head>


<body>
    <h1>Update my information</h1>  
    <br>
    <div class="menu">
    <a href="http://127.0.0.1:5000/main_menu"> 
            <input type="submit" name="return_to_main_menu" value="Main Menu" id="Return"/></a>
        </div>
    <br>
    <h3 >{{info}}</h3>
    

</body>


</html>