html, body {
	height: 100%;
	min-height: 100%;
} 

form {
	text-align: center;
}

body{
	margin: 5px;
	padding: 5px;
}
a {
	text-decoration: none;
	color: #0eb9f1;
} 
h1 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	color: #084d7a;
	font-size: 250%;
}
input[type="submit"] {
	background-color: #0eb9f1;
	border: 10px solid #0eb9f1;
	border-radius: 8px;
	margin: 10px 0 10px 0;
	padding: 5px 20px 5px 20px;
	color: #fcfdfd;
	font-size: 100%;
}
.menu input[type="submit"]{
	left: 500px;
	color: #000a0a;
	position: relative
}

input[name=inputemail] {
	background-color: grey;
}
.button {
	background-color: #0eb9f1;
	border: 10px solid #0eb9f1;
	border-radius: 8px;
	margin: 10px 0 10px 0;
	padding: 5px 20px 5px 20px;
	color: #fcfdfd;
	font-size: 100%;
}